<div class="bg-body">
  <div class="container h-100">
    <br><br>
    <div class="row h-100 justify-content-center align-items-center px-2" style="margin-right:-15px !important">
      <div class="col-md-5 col-sm-12 col-xs-12 col-lg-5  form-container login-container">
        <div class="row">
          <div class="col-md-12">
            <a routerLink="/serviceWorkOrder" style="font-size:1rem;color:gray">
              <mdb-icon fas icon="arrow-left"></mdb-icon>
            </a>
            <label class="ml-1" for="" style="color:#757575;font-size:1rem"> Service Work Order: <strong
                style="font-weight:600 !important;">#1111</strong></label>
          </div>
          <!-- <div class="col-md-12">
            <label for="" style="color:#757575;font-size:1rem">Service Work Order: <strong
                style="font-weight:600 !important;">#1111</strong></label>
          </div> -->
          <div class="col-md-12">
            <label for="" style="color:#757575;font-size:1rem">Signature</label>
            <!-- <img src="../assets/signature.png" class="img-responsive center-block text-center img-logo"
                alt="signature" /> -->
            <signature-pad style="width: 100%;" [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
              (onEndEvent)="drawComplete()">
            </signature-pad>
          </div>
          <div class="col-md-12">
            <div class="md-form" style="margin-bottom:1.5rem !important;">
              <input [(ngModel)]="model.ApprovedBy" type="text" id="approved" class="form-control" mdbInput>
              <label for="approved" class="font-weight-light">Approved by</label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form">
              <input mdbInput type="text" class="form-control" id="formGroupExampleInput2MD"
                placeholder="{{model.EndDate}}" disabled>
              <label for="formGroupExampleInput2MD" class="disabled">Date</label>
            </div>
          </div>
          <div class="col-md-12 mt-2">
            <button [disabled]="!model.ApprovedBy" (click)="save()" class="btn btn-green1 btn-block" style="font-size: 1rem !important;"
              aria-pressed="true">
              Approve</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
